<html>  
  <head>
    <style>
      body {
        background: <%= color %>
      }
    </style>
    <title>Web Gusser</title>
  </head>
  <body>
  <h1 align="center">Can you guess the number between 0 and 100?</h1>
  <div>
    <form align="center">
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </div>
    <h3 align="center"><%= message %> </h3>
  </body>

</html>
